.goal-container {
    display: flex;
    justify-content: center; 
    height: 100%;
    text-align: center;
}

.goal-comp {
    border: 2px solid #FF6D00;
    border-radius: 8px;
    padding: 8px;
    margin: 16px 0;
    background-color: transparent;
    max-width: 200px;
}

.goal-comp h2 {
    font-size: 1.2em;
    margin-bottom: 8px;
}

.goal-comp p {
    margin: 4px 0;
}

.goal-comp p strong {
    font-weight: bold;
}