@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #424242; 
    color: #FFFFFF; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
h1 {
    color: #FF6D00; 
    font-size: 2.5em;
    margin-bottom: 20px;
}

h2{
    color: #FF6D00; 
    font-size: 2em;
    margin-bottom: 20px;
}
  
p {
    font-size: 1.2em;
    color: #FFFFFF; 
    margin-bottom: 15px;
}
  

button {
    background-color: #FF6D00; 
    color: #FFFFFF; 
    border: none;
    padding: 12px 24px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #e65c00; 
  }

.profile-page {
    max-width: 600px;
    height: 500px; /* Band-aid fix for profile page overflow issue */
    margin: 0 auto;
    padding: 20px;
}

.profile-header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.profile-name {
    font-size: 24px;
    font-weight: bold;
}

.follow-btn, .message-btn, .goals-btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



.profile-goals, .profile-posts {
    margin-top: 20px;
    width: 100%;
}

.profile-goals h2, .profile-posts h2 {
    font-size: 20px;
    font-weight: bold;
}

.profile-goals ul, .profile-posts ul {
    list-style-type: none;
    padding: 0;
}

.profile-goals li, .profile-posts li {
    font-size: 16px;
    padding: 5px 0;
}


.goal-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}